

.d-flx { display: flex; }
.fD-r { flex-direction: row; }
.fD-C { flex-direction: column; }
.fW-W { flex-wrap: wrap; }

/* horizontal alligment  */
.jC-S { justify-content: start; }
.jC-FE { justify-content: end; }
.jC-C { justify-content: center; }
.jC-SB { justify-content: space-between; }
.jC-SA { justify-content: space-around; }
.jC-SE { justify-content: space-evenly; }

/* vertical allignment  */
.aI-S { align-items: start; }
.aI-E { align-items: end; }
.aI-C { align-items: center; }
.aI-B { align-items: baseline; }
.aI-stretch { align-items: stretch; }

.f-1 { flex: 1; }
.fS-0 { flex-shrink: 0; }
.fG-1 { flex-grow: 1; }

/* gap values  */
.g-1 { gap: 1px; }
.g-2 { gap: 2px; }
.g-3 { gap: 3px; }
.g-4 { gap: 4px; }
.g-5 { gap: 5px; }
.g-6 { gap: 6px; }
.g-7 { gap: 7px; }
.g-8 { gap: 8px; }
.g-9 { gap: 9px; }
.g-10 { gap: 10px; }
.g-11 { gap: 11px; }
.g-12 { gap: 12px; }
.g-13 { gap: 13px; }
.g-14 { gap: 14px; }
.g-15 { gap: 15px; }
.g-16 { gap: 16px; }
.g-17 { gap: 17px; }
.g-18 { gap: 18px; }
.g-19 { gap: 19px; }
.g-20 { gap: 20px; }
.g-21 { gap: 21px; }
.g-22 { gap: 22px; }
.g-23 { gap: 23px; }
.g-24 { gap: 24px; }
.g-25 { gap: 25px; }
.g-26 { gap: 26px; }
.g-27 { gap: 27px; }
.g-28 { gap: 28px; }
.g-29 { gap: 29px; }
.g-30 { gap: 30px; }
.g-32 { gap: 32px; }
.g-35 { gap: 35px; }
.g-38 { gap: 38px; }
.g-40 { gap: 40px; }
.g-45 { gap: 45px; }
.g-50 { gap: 50px; }
.g-55 { gap: 55px; }
.g-60 { gap: 60px; }
.g-65 { gap: 65px; }
.g-70 { gap: 70px; }
.g-75 { gap: 75px; }
.g-80 { gap: 80px; }
.g-85 { gap: 85px; }
.g-90 { gap: 90px; }
.g-95 { gap: 95px; }
.g-100 { gap: 100px; }
.g-110 { gap: 110px; }
.g-120 { gap: 120px; }

