


/* flex responsive */
@media (min-width: 320px) {
    .col-xs-1 { flex: 0 0 auto; width: 8.33%; }
    .col-xs-2 { flex: 0 0 auto; width: 16.66%; }
    .col-xs-3 { flex: 0 0 auto; width: 25%; }
    .col-xs-4 { flex: 0 0 auto; width: 33.33%; }
    .col-xs-5 { flex: 0 0 auto; width: 41.66%; }
    .col-xs-6 { flex: 0 0 auto; width: 50%; }
    .col-xs-7 { flex: 0 0 auto; width: 58.33%; }
    .col-xs-8 { flex: 0 0 auto; width: 66.66%; }
    .col-xs-9 { flex: 0 0 auto; width: 75%; }
    .col-xs-10 { flex: 0 0 auto; width: 83.33%; }
    .col-xs-11 { flex: 0 0 auto; width: 91.66%; }
    .col-xs-12 { flex: 0 0 auto; width: 100%; }
}
@media (min-width: 768px) {
    .col-sm-1 { flex: 0 0 auto; width: 8.33%; }
    .col-sm-2 { flex: 0 0 auto; width: 16.66%; }
    .col-sm-3 { flex: 0 0 auto; width: 25%; }
    .col-sm-4 { flex: 0 0 auto; width: 33.33%; }
    .col-sm-5 { flex: 0 0 auto; width: 41.66%; }
    .col-sm-6 { flex: 0 0 auto; width: 50%; }
    .col-sm-7 { flex: 0 0 auto; width: 58.33%; }
    .col-sm-8 { flex: 0 0 auto; width: 66.66%; }
    .col-sm-9 { flex: 0 0 auto; width: 75%; }
    .col-sm-10 { flex: 0 0 auto; width: 83.33%; }
    .col-sm-11 { flex: 0 0 auto; width: 91.66%; }
    .col-sm-12 { flex: 0 0 auto; width: 100%; }
}
@media (min-width: 992px) {
    .col-md-1 { flex: 0 0 auto; width: 8.33%; }
    .col-md-2 { flex: 0 0 auto; width: 16.66%; }
    .col-md-3 { flex: 0 0 auto; width: 25%; }
    .col-md-4 { flex: 0 0 auto; width: 33.33%; }
    .col-md-5 { flex: 0 0 auto; width: 41.66%; }
    .col-md-6 { flex: 0 0 auto; width: 50%; }
    .col-md-7 { flex: 0 0 auto; width: 58.33%; }
    .col-md-8 { flex: 0 0 auto; width: 66.66%; }
    .col-md-9 { flex: 0 0 auto; width: 75%; }
    .col-md-10 { flex: 0 0 auto; width: 83.33%; }
    .col-md-11 { flex: 0 0 auto; width: 91.66%; }
    .col-md-12 { flex: 0 0 auto; width: 100%; }
}
@media (min-width: 1200px) {
    .col-lg-1 { flex: 0 0 auto; width: 8.33%; }
    .col-lg-2 { flex: 0 0 auto; width: 16.66%; }
    .col-lg-3 { flex: 0 0 auto; width: 25%; }
    .col-lg-4 { flex: 0 0 auto; width: 33.33%; }
    .col-lg-5 { flex: 0 0 auto; width: 41.66%; }
    .col-lg-6 { flex: 0 0 auto; width: 50%; }
    .col-lg-7 { flex: 0 0 auto; width: 58.33%; }
    .col-lg-8 { flex: 0 0 auto; width: 66.66%; }
    .col-lg-9 { flex: 0 0 auto; width: 75%; }
    .col-lg-10 { flex: 0 0 auto; width: 83.33%; }
    .col-lg-11 { flex: 0 0 auto; width: 91.66%; }
    .col-lg-12 { flex: 0 0 auto; width: 100%; }
}
@media (min-width: 2000px) {
    .col-xl-1 { flex: 0 0 auto; width: 8.33%; }
    .col-xl-2 { flex: 0 0 auto; width: 16.66%; }
    .col-xl-3 { flex: 0 0 auto; width: 25%; }
    .col-xl-4 { flex: 0 0 auto; width: 33.33%; }
    .col-xl-5 { flex: 0 0 auto; width: 41.66%; }
    .col-xl-6 { flex: 0 0 auto; width: 50%; }
    .col-xl-7 { flex: 0 0 auto; width: 58.33%; }
    .col-xl-8 { flex: 0 0 auto; width: 66.66%; }
    .col-xl-9 { flex: 0 0 auto; width: 75%; }
    .col-xl-10 { flex: 0 0 auto; width: 83.33%; }
    .col-xl-11 { flex: 0 0 auto; width: 91.66%; }
    .col-xl-12 { flex: 0 0 auto; width: 100%; }
}


@media screen and (max-width: 768px) {
    .mini-tab-hide { display: none; }
}

@media screen and (max-width: 992px) {
    .big-tab-hide { display: none; }
}


