

/* common */
    /* sources */
        @use './utils/sources/app-fonts.scss';
        @use './utils/sources/app-themes.scss';
        @use './utils/sources/app-colors.scss';

        // // icons
        //     @use '../../assets/icons/font-awesome/css/all.min.css';
        //     @use '../../assets/icons/font-awesome/css/brand.min.css';
        //     @use '../../assets/icons/font-awesome/css/solid.min.css';
        // // \\\ icons

        @use './utils/sources/app-layout.scss';
    /* \\\ sources */

    /* global */
        @use './utils/components/_functions.scss' as *;
        @use './utils/components/_mixins.scss';

        @use './utils/global-reset.scss';
    /* \\\ global */

    /* sources styles */
        @use './utils/sources/sources-styles/app-colors-styles.scss';
        @use './utils/sources/sources-styles/app-fonts-styles.scss';
    /* \\\ sources styles */

    /* utils */
        @use './utils/components/styleBits.scss';
        @use './utils/components/flex.scss';
        @use './utils/components/grid.scss';
        @use './utils/components/mini-components.scss';
        @use './utils/components/responsive.scss';
    /* \\\ utils */
/* \\\ common */

