

:root {
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-sbold: 600;
    --fw-bold: 700;
}

.fw-regular { font-weight: var(--fw-regular); }
.fw-medium { font-weight: var(--fw-medium); }
.fw-sbold { font-weight: var(--fw-sbold); }
.fw-bold { font-weight: var(--fw-bold); }

