
@use './components/_functions.scss' as *;


/* every elements */
    * {
        padding: 0;
        margin: 0;
    }

    *, *:before,
    *:after {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    ::placeholder {
        color: var(--c-gray-60);
    }
/* \\\ every elements */


/* tags */
    body {
        overflow: hidden;
        background-color: var(--c-white);
        font-family: var(--app-font);
        font-size: 14px;
        color: var(--c-text-primary);
        text-align: start;
        line-height: 1.4;
    }

    input,
    textarea,
    button,
    select {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        text-align: inherit;
    }

    // button
        button {
            cursor: pointer;
        }
        button:focus {
            outline: none;
        }
    // \\\ button

    h1, h2, h3, h4, h5, h6, b, strong, th {
        font-weight: unset;
        font-weight: var(--fw-medium);
    }

    ul {
        list-style: none;
    }

    p {
        line-height: 1.4;
        color: var(--c-text-secondary);
    }

    a {
        text-decoration: none;
        cursor: pointer;
        color: var(--c-link);
    }
/* \\\ tags */


/* scrollbar */
    /* for chrome and safari */
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #959fad69;
        cursor: pointer;
        border-radius: 12px;
        transition: var(--fast-trans);
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #9ca5b281;
    }
    /* \\\ for chrome and safari */

    /* for firefox */
        @-moz-document url-prefix() {
            html {
                scrollbar-width: thin;
                scrollbar-color: #9aa4b1 transparent;
            }
        }
    /* \\\ for firefox */
/* \\\ scrollbar *


/* inputs */
    input:-webkit-autofill {
        box-shadow: 0 0 0px 1000px var(--c-white) inset !important;
        -webkit-box-shadow: 0 0 0px 1000px var(--c-white) inset !important;
    }

    input:-moz-autofill {
        background-color: transparent !important;
    }
/* \\\ inputs */

