

:root {
    --c-white: #fff;
    --c-black: #000;

    --c-gray-10: #1a1c22;
    --c-gray-15: #26282f;
    --c-gray-20: #33353d;
    --c-gray-30: #4d4f5a;
    --c-gray-40: #666875;
    --c-gray-50: #808290;
    --c-gray-60: #999cab;
    --c-gray-70: #b3b6c6;
    --c-gray-75: #bfc2d0;
    --c-gray-80: #ccceda;
    --c-gray-85: #d9dbe4;
    --c-gray-90: #e7e8ee;
    --c-gray-93: #ededf2;
    --c-gray-95: #f2f3f6;
    --c-gray-96: #f5f5f8;
    --c-gray-97: #f7f7f9;
    --c-gray-98: #fafafb;
    --c-gray-99: #fcfcfd;


    // text
        --c-text-primary: var(--c-gray-10);
        --c-text-secondary: var(--c-gray-50);
        --c-text-tertiary: var(--c-gray-70);
        --c-text-quaternary: var(--c-gray-80);
        --c-text-quinary: var(--c-gray-90);
    // \\\ text


    /* status */
        // global controls

        // \\\ global controls

        :root,
        .status-theme-green,
        .status-theme-blue,
        .status-theme-gray,
        .status-theme-yellow,
        .status-theme-orange,
        .status-theme-red {
            /* darkest */
                --c-status-10:  oklch(25%  0.10 var(--c-hue-status));
                --c-status-20:  oklch(38%  0.15 var(--c-hue-status));
                --c-status-30:  oklch(47%  0.17 var(--c-hue-status));
            /* \\\ darkest */

            // medium
                --c-status-40:  oklch(56%  0.18 var(--c-hue-status));
                --c-status-50:  oklch(65%  0.17 var(--c-hue-status));
                --c-status-60:  oklch(74%  0.14 var(--c-hue-status));
            // \\\ medium

            // lightest
                --c-status-70:  oklch(82%  0.11 var(--c-hue-status));
                --c-status-80:  oklch(89%  0.08 var(--c-hue-status));
                --c-status-90:  oklch(95%  0.04 var(--c-hue-status));
                --c-status-95:  oklch(97%  0.025 var(--c-hue-status));
            // \\\ lightest


            // default
                --c-status-default: var(--c-status-50);
            // \\\ default
        }
    /* \\\ status */


    // box shadows
        --c-shadow-sm: 0 2px 4px oklch(0% 0 0 / 0.10);
        --c-shadow: 0 4px 12px oklch(0% 0 0 / 0.12);
        --c-shadow-lg: 0 8px 28px oklch(0% 0 0 / 0.14);
    // \\\ box shadows
}


// components colors
:root {
    // border
        --c-border-dark: var(--c-gray-75);
        --c-border: var(--c-gray-85);
        --c-border-lite: var(--c-gray-95);
    // \\\ border
}
// \\\ components colors

