

:root {
    --c-white: #fff;
    --c-black: #000;

    --c-gray-10: #1a1c22;
    --c-gray-15: #26282f;
    --c-gray-20: #33353d;
    --c-gray-30: #4d4f5a;
    --c-gray-40: #666875;
    --c-gray-50: #808290;
    --c-gray-60: #999cab;
    --c-gray-70: #b3b6c6;
    --c-gray-75: #bfc2d0;
    --c-gray-80: #ccceda;
    --c-gray-85: #d9dbe4;
    --c-gray-90: #e7e8ee;
    --c-gray-93: #ededf2;
    --c-gray-95: #f2f3f6;
    --c-gray-96: #f5f5f8;
    --c-gray-97: #f7f7f9;
    --c-gray-98: #fafafb;
    --c-gray-99: #fcfcfd;


    // text
        --c-text-primary: var(--c-gray-10);
        --c-text-secondary: var(--c-gray-50);
        --c-text-tertiary: var(--c-gray-70);
        --c-text-quaternary: var(--c-gray-80);
        --c-text-quinary: var(--c-gray-90);
    // \\\ text


    /* status */
        // global controls
            --c-status-light-95: 95%;
            --c-status-light-90: 90%;
            --c-status-light-85: 85%;
            --c-status-light-80: 80%;
            --c-status-light-75: 75%;
            --c-status-light-70: 70%;
            --c-status-light-65: 65%;
            --c-status-light-60: 60%;
            --c-status-light-55: 55%;
            --c-status-light-50: 50%;
            --c-status-light-45: 45%;
            --c-status-light-40: 40%;
            --c-status-light-35: 35%;
            --c-status-light-30: 30%;
            --c-status-light-25: 25%;
            --c-status-light-20: 20%;
            --c-status-light-15: 15%;
            --c-status-light-10: 10%;
            --c-status-light-5: 5%;

            --c-status-chroma-95: 0.1235;
            --c-status-chroma-90: 0.1130;
            --c-status-chroma-85: 0.1025;
            --c-status-chroma-80: 0.0920;
            --c-status-chroma-75: 0.0815;
            --c-status-chroma-70: 0.0710;
            --c-status-chroma-65: 0.0605;
            --c-status-chroma-60: 0.0500;
            --c-status-chroma-55: 0.0395;
            --c-status-chroma-50: 0.0290;
            --c-status-chroma-45: 0.0185;
            --c-status-chroma-40: 0.0080;
            --c-status-chroma-35: 0.0075;
            --c-status-chroma-30: 0.0070;
            --c-status-chroma-25: 0.0065;
            --c-status-chroma-20: 0.0060;
            --c-status-chroma-15: 0.0055;
            --c-status-chroma-10: 0.0050;
            --c-status-chroma-5: 0.0045;
        // \\\ global controls



        // green
            --h-status-green: 154;

            --c-status-green-10:  oklch(15% 0.04 var(--h-status-green));
            --c-status-green-20:  oklch(25% 0.06 var(--h-status-green));
            --c-status-green-30:  oklch(35% 0.08 var(--h-status-green));
            --c-status-green-40:  oklch(45% 0.10 var(--h-status-green));
            --c-status-green-50:  oklch(55% 0.12 var(--h-status-green)); /* base */
            --c-status-green-60:  oklch(45% 0.10 var(--h-status-green));
            --c-status-green-70:  oklch(75% 0.07 var(--h-status-green));
            --c-status-green-80:  oklch(85% 0.05 var(--h-status-green));
            --c-status-green-90:  oklch(95% 0.03 var(--h-status-green));


            --c-status-green: var(--c-status-green-50);
        // \\\ green


        // blue

        // \\\ blue


        // gray

        // \\\ gray


        // yellow

        // \\\ yellow


        // orange

        // \\\ orange


        // red

        // \\\ red
    /* \\\ status */


    // box shadows
        --c-shadow-sm: 0 2px 4px oklch(0% 0 0 / 0.10);
        --c-shadow: 0 4px 12px oklch(0% 0 0 / 0.12);
        --c-shadow-lg: 0 8px 28px oklch(0% 0 0 / 0.14);
    // \\\ box shadows
}


// components colors
:root {
    // border
        --c-border-dark: var(--c-gray-75);
        --c-border: var(--c-gray-85);
        --c-border-lite: var(--c-gray-95);
    // \\\ border
}
// \\\ components colors

