

:root {
    --c-white: #fff;
    --c-black: #000;

    --c-gray-10: #1a1c22;
    --c-gray-15: #26282f;
    --c-gray-20: #33353d;
    --c-gray-30: #4d4f5a;
    --c-gray-40: #666875;
    --c-gray-50: #808290;
    --c-gray-60: #999cab;
    --c-gray-70: #b3b6c6;
    --c-gray-75: #bfc2d0;
    --c-gray-80: #ccceda;
    --c-gray-85: #d9dbe4;
    --c-gray-90: #e7e8ee;
    --c-gray-93: #ededf2;
    --c-gray-95: #f2f3f6;
    --c-gray-96: #f5f5f8;
    --c-gray-97: #f7f7f9;
    --c-gray-98: #fafafb;
    --c-gray-99: #fcfcfd;


    // text
        --c-text-primary: var(--c-gray-10);
        --c-text-secondary: var(--c-gray-50);
        --c-text-tertiary: var(--c-gray-70);
        --c-text-quaternary: var(--c-gray-80);
        --c-text-quinary: var(--c-gray-90);
    // \\\ text


    /* status */
        --c-status-green: #0b7842;
        --c-status-green-dark: #06733c;
        --c-status-green-darker: #045a2e;
        --c-status-light-green: #f2faf7;
        --c-status-green-border: #c8e6d5;
        --c-status-green__shade-1: oklch(95% 0.08 145);
        --c-status-green__shade-2: oklch(90% 0.10 145);
        --c-status-green__shade-3: oklch(85% 0.12 145);
        --c-status-green__shade-4: oklch(75% 0.13 145);
        --c-status-green__shade-5: oklch(65% 0.14 145);
        --c-status-green__shade-6: oklch(55% 0.15 145);
        --c-status-green__shade-7: oklch(45% 0.14 145);
        --c-status-green__shade-8: oklch(35% 0.13 145);
        --c-status-green__shade-9: oklch(28% 0.12 145);
        --c-status-green__shade-10: oklch(22% 0.10 145);


        --c-status-blue: #1571cd;
        --c-status-blue-dark: #0962bb;
        --c-status-blue-darker: #0753a0;
        --c-status-light-blue: #eef7ff;
        --c-status-blue-border: #b8d9f5;
        --c-status-blue__shade-1: oklch(95% 0.10 250);
        --c-status-blue__shade-2: oklch(90% 0.12 250);
        --c-status-blue__shade-3: oklch(85% 0.15 250);
        --c-status-blue__shade-4: oklch(75% 0.18 250);
        --c-status-blue__shade-5: oklch(65% 0.20 250);
        --c-status-blue__shade-6: oklch(55% 0.19 250);
        --c-status-blue__shade-7: oklch(45% 0.17 250);
        --c-status-blue__shade-8: oklch(35% 0.15 250);
        --c-status-blue__shade-9: oklch(28% 0.13 250);
        --c-status-blue__shade-10: oklch(22% 0.11 250);


        --c-status-gray: #8a8d9a;
        --c-status-gray-dark: #787b87;
        --c-status-gray-darker: #666974;
        --c-status-light-gray: #d6d8e0;
        --c-status-gray-border: #c4c6d0;
        --c-status-gray__shade-1: oklch(95% 0.01 250);
        --c-status-gray__shade-2: oklch(90% 0.02 250);
        --c-status-gray__shade-3: oklch(85% 0.03 250);
        --c-status-gray__shade-4: oklch(75% 0.04 250);
        --c-status-gray__shade-5: oklch(65% 0.05 250);
        --c-status-gray__shade-6: oklch(55% 0.04 250);
        --c-status-gray__shade-7: oklch(45% 0.03 250);
        --c-status-gray__shade-8: oklch(35% 0.02 250);
        --c-status-gray__shade-9: oklch(28% 0.01 250);
        --c-status-gray__shade-10: oklch(22% 0.01 250);


        --c-status-yellow: #e8c100;
        --c-status-yellow-dark: #d0ae00;
        --c-status-yellow-darker: #b89a00;
        --c-status-light-yellow: #fafbf2;
        --c-status-yellow-border: #f5e899;
        --c-status-yellow__shade-1: oklch(95% 0.12 90);
        --c-status-yellow__shade-2: oklch(90% 0.15 90);
        --c-status-yellow__shade-3: oklch(85% 0.18 90);
        --c-status-yellow__shade-4: oklch(80% 0.20 90);
        --c-status-yellow__shade-5: oklch(75% 0.22 90);
        --c-status-yellow__shade-6: oklch(65% 0.23 90);
        --c-status-yellow__shade-7: oklch(55% 0.22 90);
        --c-status-yellow__shade-8: oklch(45% 0.20 90);
        --c-status-yellow__shade-9: oklch(35% 0.18 90);
        --c-status-yellow__shade-10: oklch(28% 0.15 90);


        --c-status-orange: #d86a05;
        --c-status-orange-dark: #e2730d;
        --c-status-orange-darker: #c55a04;
        --c-status-light-orange: #fff7ef;
        --c-status-orange-border: #ffd9b8;
        --c-status-orange__shade-1: oklch(95% 0.15 40);
        --c-status-orange__shade-2: oklch(90% 0.18 40);
        --c-status-orange__shade-3: oklch(85% 0.22 40);
        --c-status-orange__shade-4: oklch(75% 0.25 40);
        --c-status-orange__shade-5: oklch(65% 0.28 40);
        --c-status-orange__shade-6: oklch(55% 0.27 40);
        --c-status-orange__shade-7: oklch(45% 0.25 40);
        --c-status-orange__shade-8: oklch(35% 0.23 40);
        --c-status-orange__shade-9: oklch(28% 0.20 40);
        --c-status-orange__shade-10: oklch(22% 0.18 40);


        --c-status-red: #ce1515;
        --c-status-red-dark: #b70101;
        --c-status-red-darker: #9a0101;
        --c-status-light-red: #ffeeef;
        --c-status-red-border: #ffc4c6;
        --c-status-red__shade-1: oklch(95% 0.18 20);
        --c-status-red__shade-2: oklch(90% 0.22 20);
        --c-status-red__shade-3: oklch(85% 0.26 20);
        --c-status-red__shade-4: oklch(75% 0.30 20);
        --c-status-red__shade-5: oklch(65% 0.32 20);
        --c-status-red__shade-6: oklch(55% 0.31 20);
        --c-status-red__shade-7: oklch(45% 0.29 20);
        --c-status-red__shade-8: oklch(35% 0.27 20);
        --c-status-red__shade-9: oklch(28% 0.24 20);
        --c-status-red__shade-10: oklch(22% 0.21 20);
    /* \\\ status */


    // box shadows
        --c-shadow-sm: 0 2px 4px oklch(0% 0 0 / 0.10);
        --c-shadow: 0 4px 12px oklch(0% 0 0 / 0.12);
        --c-shadow-lg: 0 8px 28px oklch(0% 0 0 / 0.14);
    // \\\ box shadows
}


// components colors
:root {
    // border
        --c-border-dark: var(--c-gray-75);
        --c-border: var(--c-gray-85);
        --c-border-lite: var(--c-gray-95);
    // \\\ border
}
// \\\ components colors

