

:root {
    --c-hue-status-green: 145;
    --c-hue-status-blue: 220;
    --c-hue-status-gray: 240;
    --c-hue-status-yellow: 95;
    --c-hue-status-orange: 55;
    --c-hue-status-red: 25;


    // global controls
        // light
            --c-light-status-10: 25%;
            --c-light-status-20: 38%;
            --c-light-status-30: 47%;
            --c-light-status-40: 56%;
            --c-light-status-50: 65%;
            --c-light-status-60: 74%;
            --c-light-status-70: 82%;
            --c-light-status-80: 89%;
            --c-light-status-90: 95%;
            --c-light-status-95: 97%;
            --c-light-status-96: 97.8%;
            --c-light-status-97: 98.6%;
            --c-light-status-98: 99.2%;
            --c-light-status-99: 99.6%;
        // \\\ light

        // chroma
            --c-chroma-status-10: 0.10;
            --c-chroma-status-20: 0.15;
            --c-chroma-status-30: 0.17;
            --c-chroma-status-40: 0.18;
            --c-chroma-status-50: 0.17;
            --c-chroma-status-60: 0.14;
            --c-chroma-status-70: 0.11;
            --c-chroma-status-80: 0.08;
            --c-chroma-status-90: 0.04;
            --c-chroma-status-95: 0.025;
            --c-chroma-status-96: 0.020;
            --c-chroma-status-97: 0.015;
            --c-chroma-status-98: 0.010;
            --c-chroma-status-99: 0.006;
        // \\\ chroma
    // \\\ global controls
}



:root,
.c-status-shades__green,
.c-status-shades__blue,
.c-status-shades__gray,
.c-status-shades__yellow,
.c-status-shades__orange,
.c-status-shades__red {
    /* darkest */
        --c-status__10: oklch(var(--c-light-status-10)  var(--c-chroma-status-static, var(--c-chroma-status-10)) var(--c-hue-status));
        --c-status__20: oklch(var(--c-light-status-20)  var(--c-chroma-status-static, var(--c-chroma-status-20)) var(--c-hue-status));
        --c-status__30: oklch(var(--c-light-status-30)  var(--c-chroma-status-static, var(--c-chroma-status-30)) var(--c-hue-status));
    /* \\\ darkest */

    // medium
        --c-status__40: oklch(var(--c-light-status-40)  var(--c-chroma-status-static, var(--c-chroma-status-40)) var(--c-hue-status));
        --c-status__50: oklch(var(--c-light-status-50)  var(--c-chroma-status-static, var(--c-chroma-status-50)) var(--c-hue-status));
        --c-status__60: oklch(var(--c-light-status-60)  var(--c-chroma-status-static, var(--c-chroma-status-60)) var(--c-hue-status));
    // \\\ medium

    // lightest
        --c-status__70: oklch(var(--c-light-status-70)  var(--c-chroma-status-static, var(--c-chroma-status-70)) var(--c-hue-status));
        --c-status__80: oklch(var(--c-light-status-80)  var(--c-chroma-status-static, var(--c-chroma-status-80)) var(--c-hue-status));
        --c-status__90: oklch(var(--c-light-status-90)  var(--c-chroma-status-static, var(--c-chroma-status-90)) var(--c-hue-status));
        --c-status__95: oklch(var(--c-light-status-95)  var(--c-chroma-status-static, var(--c-chroma-status-95)) var(--c-hue-status));
        --c-status__96: oklch(var(--c-light-status-96)  var(--c-chroma-status-static, var(--c-chroma-status-96)) var(--c-hue-status));
        --c-status__97: oklch(var(--c-light-status-97)  var(--c-chroma-status-static, var(--c-chroma-status-97)) var(--c-hue-status));
        --c-status__98: oklch(var(--c-light-status-98)  var(--c-chroma-status-static, var(--c-chroma-status-98)) var(--c-hue-status));
        --c-status__99: oklch(var(--c-light-status-99)  var(--c-chroma-status-static, var(--c-chroma-status-99)) var(--c-hue-status));
    // \\\ lightest


    // default
        --c-status: var(--c-status__50);
    // \\\ default
}

// gray overwrites
    .c-status-shades__gray {
        --c-chroma-status-static: 0.01;
    }
// \\\ gray overwrites


:root {
    --c-chroma-status-static: 0.2;

    --c-status__green: oklch(var(--c-light-status-50)  var(--c-chroma-status-static, var(--c-chroma-status-50)) var(--c-hue-status-green));
    --c-status__blue: oklch(var(--c-light-status-50)  var(--c-chroma-status-static, var(--c-chroma-status-50)) var(--c-hue-status-blue));
    --c-status__gray: oklch(var(--c-light-status-50)  var(--c-chroma-status-static, var(--c-chroma-status-50)) var(--c-hue-status-gray));
    --c-status__yellow: oklch(var(--c-light-status-50)  var(--c-chroma-status-static, var(--c-chroma-status-50)) var(--c-hue-status-yellow));
    --c-status__orange: oklch(var(--c-light-status-50)  var(--c-chroma-status-static, var(--c-chroma-status-50)) var(--c-hue-status-orange));
    --c-status__red: oklch(var(--c-light-status-50)  var(--c-chroma-status-static, var(--c-chroma-status-50)) var(--c-hue-status-red));
}

