

:root {
    --c-white: #fff;
    --c-black: #000;

    --c-gray-10: #1a1c22;
    --c-gray-15: #26282f;
    --c-gray-20: #33353d;
    --c-gray-30: #4d4f5a;
    --c-gray-40: #666875;
    --c-gray-50: #808290;
    --c-gray-60: #999cab;
    --c-gray-70: #b3b6c6;
    --c-gray-75: #bfc2d0;
    --c-gray-80: #ccceda;
    --c-gray-85: #d9dbe4;
    --c-gray-90: #e7e8ee;
    --c-gray-93: #ededf2;
    --c-gray-95: #f2f3f6;
    --c-gray-96: #f5f5f8;
    --c-gray-97: #f7f7f9;
    --c-gray-98: #fafafb;
    --c-gray-99: #fcfcfd;


    // text
        --c-text-primary: var(--c-gray-10);
        --c-text-secondary: var(--c-gray-50);
        --c-text-tertiary: var(--c-gray-70);
        --c-text-quaternary: var(--c-gray-80);
        --c-text-quinary: var(--c-gray-90);
    // \\\ text


    /* status */
        --c-status-green: #0b7842;
        --c-status-green-dark: #06733c;
        --c-light-status-green: #f2faf7;

        --c-status-blue: #1571cd;
        --c-status-blue-dark: #0962bb;
        --c-light-status-blue: #eef7ff;

        --c-status-gray: #8a8d9a;
        --c-status-gray-dark: #787b87;
        --c-light-status-gray: #d6d8e0;

        --c-status-yellow: #e8c100;
        --c-status-yellow-dark: #d0ae00;
        --c-light-status-yellow: #fafbf2;

        --c-status-orange: #d86a05;
        --c-status-orange-dark: #e2730d;
        --c-light-status-orange: #fff7ef;

        --c-status-red: #ce1515;
        --c-status-red-dark: #b70101;
        --c-light-status-red: #ffeeef;
    /* \\\ status */


    // box shadows
        --c-shadow-sm: 0 2px 4px oklch(0% 0 0 / 0.10);
        --c-shadow: 0 4px 12px oklch(0% 0 0 / 0.12);
        --c-shadow-lg: 0 8px 28px oklch(0% 0 0 / 0.14);
    // \\\ box shadows
}


// components colors
:root {
    // border
        --c-border-dark: var(--c-gray-75);
        --c-border: var(--c-gray-85);
        --c-border-lite: var(--c-gray-95);
    // \\\ border
}
// \\\ components colors

